.coding-page{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.problem-description{
    width: 40%;
}

.code-arena{
    width: 60%;
}
/* 
.ide-component-coding-page{
    margin-top: 6px;
    height: 60%;
}

.evaluation-component-coding-page{
    height: 40%;
} */

/**
.coding-page {
    display: flex;
    flex-direction: row;
    height: 95%;
    width: 100%;
    /* width: inherit; */
    /* overflow: hidden;
}
**/
/* 
.code-arena {
    width:60%;
    display: flex;
    flex-direction: column;
} */


/* .problem-description{
    width:40%;
} */
