.peer-coding-page{
    height: 95%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.peer-code-arena{
    width: 43%;
}

.peer-problem-description{
    width: 32%;
}

.peer-dicussion-coontainer{
    width: 25%;
}